-- Script para adicionar campos do Google reCAPTCHA nos parâmetros do sistema
ALTER TABLE parametros_sistema
ADD COLUMN recaptcha_site_key VARCHAR(200),
ADD COLUMN recaptcha_secret_key VARCHAR(200);

-- Script para ativar/desativar o reCAPTCHA (padrão: não usar)
ALTER TABLE parametros_sistema
ADD COLUMN recaptcha_enabled BOOLEAN DEFAULT FALSE;
